USE [WebBirthdayDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[ActivityLogId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[ActivityLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[ChatMessageId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[GroupChatId] [uniqueidentifier] NULL,
	[ReceiverId] [uniqueidentifier] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[EditedAt] [datetime2](7) NULL,
	[IsPinned] [bit] NOT NULL,
	[PinnedAt] [datetime2](7) NULL,
	[ReactionsJson] [nvarchar](max) NOT NULL,
	[ReplyToMessageId] [uniqueidentifier] NULL,
	[ReplyToText] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[ChatMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentReactions]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentReactions](
	[CommentReactionId] [uniqueidentifier] NOT NULL,
	[CommentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EmojiType] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CommentReactions] PRIMARY KEY CLUSTERED 
(
	[CommentReactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [uniqueidentifier] NOT NULL,
	[MemoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ParentCommentId] [uniqueidentifier] NULL,
	[EditedAt] [datetime2](7) NULL,
	[IsPinned] [bit] NOT NULL,
	[PinnedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendships]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendships](
	[FriendshipId] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Friendships] PRIMARY KEY CLUSTERED 
(
	[FriendshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupChatMembers]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupChatMembers](
	[GroupChatId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GroupChatMembers] PRIMARY KEY CLUSTERED 
(
	[GroupChatId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupChats]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupChats](
	[GroupChatId] [uniqueidentifier] NOT NULL,
	[GroupName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GroupChats] PRIMARY KEY CLUSTERED 
(
	[GroupChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupId] [uniqueidentifier] NOT NULL,
	[GroupName] [nvarchar](max) NOT NULL,
	[InviteCode] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memories]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memories](
	[MemoryId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Caption] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Privacy] [nvarchar](max) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[ImagesJson] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[SharedMemoryId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Memories] PRIMARY KEY CLUSTERED 
(
	[MemoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[RelatedId] [uniqueidentifier] NULL,
	[Text] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reactions]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reactions](
	[ReactionId] [uniqueidentifier] NOT NULL,
	[MemoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EmojiType] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reactions] PRIMARY KEY CLUSTERED 
(
	[ReactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Caption] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Stories] PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryReactions]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryReactions](
	[StoryReactionId] [uniqueidentifier] NOT NULL,
	[StoryId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EmojiType] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StoryReactions] PRIMARY KEY CLUSTERED 
(
	[StoryReactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroups](
	[UserId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserGroups] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/7/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260706133031_InitialCreate', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260706134848_FacebookPivot', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260706140045_AddActivityLog', N'8.0.28')
GO
INSERT [dbo].[ActivityLogs] ([ActivityLogId], [UserId], [ActionType], [Detail], [CreatedAt]) VALUES (N'1ea50e9b-195c-4853-9dd2-023d9cc5a6dd', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'Login', N'Đã đăng nhập vào hệ thống.', CAST(N'2026-07-07T13:49:49.6177050' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([ActivityLogId], [UserId], [ActionType], [Detail], [CreatedAt]) VALUES (N'ee6db924-9456-4208-8c5e-04a3ea28d786', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'Reaction', N'Đã thả biểu cảm 🎉 vào một bài viết.', CAST(N'2026-07-06T14:21:55.6033233' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([ActivityLogId], [UserId], [ActionType], [Detail], [CreatedAt]) VALUES (N'ca5af9f3-c902-4e2a-8673-09cace386dc0', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'StoryReaction', N'Đã thả cảm xúc 😂 vào Tin.', CAST(N'2026-07-06T17:38:13.5046524' AS DateTime2))
GO
INSERT [dbo].[ChatMessages] ([ChatMessageId], [GroupId], [UserId], [MessageText], [ImageUrl], [CreatedAt], [GroupChatId], [ReceiverId], [DeletedAt], [IsDeleted], [EditedAt], [IsPinned], [PinnedAt], [ReactionsJson], [ReplyToMessageId], [ReplyToText]) VALUES (N'1b800b80-36b3-4a70-bd80-0c1bb9cef138', NULL, N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'đã', NULL, CAST(N'2026-07-06T14:13:49.1635640' AS DateTime2), NULL, N'57d24762-6ffb-4a2e-acd1-3ff354661c51', NULL, 0, NULL, 0, NULL, N'', NULL, NULL)
INSERT [dbo].[ChatMessages] ([ChatMessageId], [GroupId], [UserId], [MessageText], [ImageUrl], [CreatedAt], [GroupChatId], [ReceiverId], [DeletedAt], [IsDeleted], [EditedAt], [IsPinned], [PinnedAt], [ReactionsJson], [ReplyToMessageId], [ReplyToText]) VALUES (N'dc65b3c2-38af-40c5-90e8-22e8fa9011e3', NULL, N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'ngheeeeeeeeeeee', NULL, CAST(N'2026-07-06T14:09:51.0351367' AS DateTime2), NULL, N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', NULL, 0, NULL, 0, NULL, N'', NULL, NULL)
INSERT [dbo].[ChatMessages] ([ChatMessageId], [GroupId], [UserId], [MessageText], [ImageUrl], [CreatedAt], [GroupChatId], [ReceiverId], [DeletedAt], [IsDeleted], [EditedAt], [IsPinned], [PinnedAt], [ReactionsJson], [ReplyToMessageId], [ReplyToText]) VALUES (N'6f040993-29f0-4cbe-a6d3-2a912996a31d', NULL, N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'', N'/uploads/dbacf4ca-8cf7-4fad-8231-52c74cf08969.png', CAST(N'2026-07-06T17:34:20.9728268' AS DateTime2), NULL, N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', NULL, 0, NULL, 0, NULL, N'', NULL, NULL)
GO
INSERT [dbo].[Comments] ([CommentId], [MemoryId], [UserId], [Text], [CreatedAt], [DeletedAt], [IsDeleted], [ParentCommentId], [EditedAt], [IsPinned], [PinnedAt]) VALUES (N'e625bc53-b074-48cf-846b-0def43c28e7c', N'a27d9f5e-7247-4f05-ad67-c406f1aa3646', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'hả', CAST(N'2026-07-07T15:14:32.9388317' AS DateTime2), NULL, 0, NULL, NULL, 0, NULL)
INSERT [dbo].[Comments] ([CommentId], [MemoryId], [UserId], [Text], [CreatedAt], [DeletedAt], [IsDeleted], [ParentCommentId], [EditedAt], [IsPinned], [PinnedAt]) VALUES (N'00a32456-7ae4-48d8-b38f-23fd718784f1', N'a27d9f5e-7247-4f05-ad67-c406f1aa3646', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'buồi', CAST(N'2026-07-07T14:50:28.3968653' AS DateTime2), NULL, 0, NULL, NULL, 0, NULL)
INSERT [dbo].[Comments] ([CommentId], [MemoryId], [UserId], [Text], [CreatedAt], [DeletedAt], [IsDeleted], [ParentCommentId], [EditedAt], [IsPinned], [PinnedAt]) VALUES (N'078dd523-f985-4089-99ce-46b2a6d8368e', N'a27d9f5e-7247-4f05-ad67-c406f1aa3646', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'ngon', CAST(N'2026-07-07T14:32:27.5927587' AS DateTime2), NULL, 0, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[Friendships] ([FriendshipId], [SenderId], [ReceiverId], [Status], [CreatedAt]) VALUES (N'1aca4844-6b30-4af0-980c-1054d0c807aa', N'43ae2478-f4e1-4636-94d8-b423afb09165', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'Pending', CAST(N'2026-07-07T15:48:43.1721201' AS DateTime2))
INSERT [dbo].[Friendships] ([FriendshipId], [SenderId], [ReceiverId], [Status], [CreatedAt]) VALUES (N'fe0d544b-98f9-44bd-a71a-178dc7e2a4a4', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'Accepted', CAST(N'2026-07-06T13:51:36.5562467' AS DateTime2))
INSERT [dbo].[Friendships] ([FriendshipId], [SenderId], [ReceiverId], [Status], [CreatedAt]) VALUES (N'2834b5df-e1f7-4062-bf95-abd682b17d51', N'43ae2478-f4e1-4636-94d8-b423afb09165', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'Accepted', CAST(N'2026-07-07T15:48:41.3098527' AS DateTime2))
GO
INSERT [dbo].[Groups] ([GroupId], [GroupName], [InviteCode], [CreatedAt]) VALUES (N'066f0e17-f0a2-45df-937f-820d30a519fc', N'Gia đình nhỏ', N'393706', CAST(N'2026-07-06T13:41:53.8973218' AS DateTime2))
INSERT [dbo].[Groups] ([GroupId], [GroupName], [InviteCode], [CreatedAt]) VALUES (N'f60da138-d716-43a7-82b2-e86a0f5dc39b', N'Gia đình nhỏ', N'143776', CAST(N'2026-07-06T13:40:25.0250069' AS DateTime2))
GO
INSERT [dbo].[Memories] ([MemoryId], [GroupId], [UserId], [Caption], [ImageUrl], [Category], [CreatedAt], [Privacy], [DeletedAt], [ImagesJson], [IsDeleted], [SharedMemoryId]) VALUES (N'eb7127c1-9745-497a-a467-070b17b84bb5', NULL, N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'', N'/uploads/5884519d-40bf-4910-bfdf-153211ba7be2.jpg', N'Shared', CAST(N'2026-07-07T13:52:56.7100218' AS DateTime2), N'Public', NULL, N'[]', 0, N'a27d9f5e-7247-4f05-ad67-c406f1aa3646')
INSERT [dbo].[Memories] ([MemoryId], [GroupId], [UserId], [Caption], [ImageUrl], [Category], [CreatedAt], [Privacy], [DeletedAt], [ImagesJson], [IsDeleted], [SharedMemoryId]) VALUES (N'c19d1162-0cb0-4ca0-bd51-0d65fef6c736', NULL, N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'', N'/uploads/3ace03cc-8689-4b5f-9ff3-def5aa480330.jpg', N'Milestone', CAST(N'2026-07-06T14:14:25.6265025' AS DateTime2), N'', NULL, N'', 0, NULL)
INSERT [dbo].[Memories] ([MemoryId], [GroupId], [UserId], [Caption], [ImageUrl], [Category], [CreatedAt], [Privacy], [DeletedAt], [ImagesJson], [IsDeleted], [SharedMemoryId]) VALUES (N'167e223b-8e1f-422b-96c0-248f61b02988', NULL, N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'', N'/uploads/5884519d-40bf-4910-bfdf-153211ba7be2.jpg', N'Shared', CAST(N'2026-07-07T14:49:59.3549712' AS DateTime2), N'Public', NULL, N'[]', 0, N'a27d9f5e-7247-4f05-ad67-c406f1aa3646')
GO
INSERT [dbo].[Notifications] ([NotificationId], [ReceiverId], [SenderId], [Type], [RelatedId], [Text], [IsRead], [CreatedAt]) VALUES (N'd29793e0-7708-459d-abf1-0311035b4067', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'StoryReaction', N'940c0167-834f-47ee-be38-8716ea227fa4', N'đã thả cảm xúc 😮 vào Tin của bạn.', 1, CAST(N'2026-07-06T17:38:37.6982262' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [ReceiverId], [SenderId], [Type], [RelatedId], [Text], [IsRead], [CreatedAt]) VALUES (N'928bc3de-2438-4be6-a87e-05c64b184d4d', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'StoryReaction', N'940c0167-834f-47ee-be38-8716ea227fa4', N'đã thả cảm xúc 🙏 vào Tin của bạn.', 1, CAST(N'2026-07-06T17:33:22.5865768' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [ReceiverId], [SenderId], [Type], [RelatedId], [Text], [IsRead], [CreatedAt]) VALUES (N'135dd1b1-f008-4d1d-92b4-0f4205114b21', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'StoryReaction', N'940c0167-834f-47ee-be38-8716ea227fa4', N'đã thả cảm xúc 😂 vào Tin của bạn.', 1, CAST(N'2026-07-06T17:38:16.2372870' AS DateTime2))
GO
INSERT [dbo].[Reactions] ([ReactionId], [MemoryId], [UserId], [EmojiType], [CreatedAt]) VALUES (N'ab19f1f7-116e-4fea-8214-183c372e82c2', N'a27d9f5e-7247-4f05-ad67-c406f1aa3646', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'❤️', CAST(N'2026-07-06T17:21:10.1161739' AS DateTime2))
INSERT [dbo].[Reactions] ([ReactionId], [MemoryId], [UserId], [EmojiType], [CreatedAt]) VALUES (N'3532acf9-7f60-4baf-a1de-28adcca26be7', N'a27d9f5e-7247-4f05-ad67-c406f1aa3646', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'😆', CAST(N'2026-07-06T17:34:44.8699719' AS DateTime2))
INSERT [dbo].[Reactions] ([ReactionId], [MemoryId], [UserId], [EmojiType], [CreatedAt]) VALUES (N'd4a4e9e9-76cc-49e7-b01b-a1ebf6c6d1f9', N'c19d1162-0cb0-4ca0-bd51-0d65fef6c736', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'❤️', CAST(N'2026-07-06T17:21:21.5802198' AS DateTime2))
GO
INSERT [dbo].[Stories] ([StoryId], [UserId], [ImageUrl], [Caption], [CreatedAt], [ExpiresAt]) VALUES (N'940c0167-834f-47ee-be38-8716ea227fa4', N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'/uploads/d174931f-29c0-4c26-87a9-f53cd5ca0d6e.png', NULL, CAST(N'2026-07-06T17:20:10.3687286' AS DateTime2), CAST(N'2026-07-07T17:20:10.3687288' AS DateTime2))
GO
INSERT [dbo].[StoryReactions] ([StoryReactionId], [StoryId], [UserId], [EmojiType], [CreatedAt]) VALUES (N'91ed529f-aaf6-47de-badb-3390a11efa50', N'940c0167-834f-47ee-be38-8716ea227fa4', N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'😮', CAST(N'2026-07-06T17:38:37.6923440' AS DateTime2))
GO
INSERT [dbo].[UserGroups] ([UserId], [GroupId], [Role], [JoinedAt]) VALUES (N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'066f0e17-f0a2-45df-937f-820d30a519fc', N'Creator', CAST(N'2026-07-06T13:41:53.8973347' AS DateTime2))
INSERT [dbo].[UserGroups] ([UserId], [GroupId], [Role], [JoinedAt]) VALUES (N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'f60da138-d716-43a7-82b2-e86a0f5dc39b', N'Creator', CAST(N'2026-07-06T13:40:25.0251751' AS DateTime2))
GO
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [AvatarUrl], [CreatedAt]) VALUES (N'57d24762-6ffb-4a2e-acd1-3ff354661c51', N'TEST 2', N'duc.18052005@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'https://api.dicebear.com/7.x/adventurer/svg?seed=TEST%202', CAST(N'2026-07-06T13:51:24.5981287' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [AvatarUrl], [CreatedAt]) VALUES (N'6d5b46f1-c650-4202-80aa-a0e5aaf95fb4', N'Gia đình nhỏ', N'hr@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'https://api.dicebear.com/7.x/adventurer/svg?seed=Gia%20%C4%91%C3%ACnh%20nh%E1%BB%8F', CAST(N'2026-07-06T13:40:15.5252804' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [AvatarUrl], [CreatedAt]) VALUES (N'43ae2478-f4e1-4636-94d8-b423afb09165', N'duc19092005', N'duc19092005d@gmail.com', N'ZXEzlqLuiM0cl0e49MHTwfMX88i+jG7UvkxPKxiPAe8=', N'https://api.dicebear.com/7.x/adventurer/svg?seed=duc19092005', CAST(N'2026-07-07T15:48:28.3343370' AS DateTime2))
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPinned]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (N'') FOR [ReactionsJson]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPinned]
GO
ALTER TABLE [dbo].[Memories] ADD  DEFAULT (N'') FOR [Privacy]
GO
ALTER TABLE [dbo].[Memories] ADD  DEFAULT (N'') FOR [ImagesJson]
GO
ALTER TABLE [dbo].[Memories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users_UserId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_GroupChats_GroupChatId] FOREIGN KEY([GroupChatId])
REFERENCES [dbo].[GroupChats] ([GroupChatId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_GroupChats_GroupChatId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Groups_GroupId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users_ReceiverId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users_UserId]
GO
ALTER TABLE [dbo].[CommentReactions]  WITH CHECK ADD  CONSTRAINT [FK_CommentReactions_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([CommentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentReactions] CHECK CONSTRAINT [FK_CommentReactions_Comments_CommentId]
GO
ALTER TABLE [dbo].[CommentReactions]  WITH CHECK ADD  CONSTRAINT [FK_CommentReactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CommentReactions] CHECK CONSTRAINT [FK_CommentReactions_Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Comments_ParentCommentId] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[Comments] ([CommentId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments_ParentCommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Memories_MemoryId] FOREIGN KEY([MemoryId])
REFERENCES [dbo].[Memories] ([MemoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Memories_MemoryId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_Friendships_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_Friendships_Users_SenderId]
GO
ALTER TABLE [dbo].[GroupChatMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupChatMembers_GroupChats_GroupChatId] FOREIGN KEY([GroupChatId])
REFERENCES [dbo].[GroupChats] ([GroupChatId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupChatMembers] CHECK CONSTRAINT [FK_GroupChatMembers_GroupChats_GroupChatId]
GO
ALTER TABLE [dbo].[GroupChatMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupChatMembers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupChatMembers] CHECK CONSTRAINT [FK_GroupChatMembers_Users_UserId]
GO
ALTER TABLE [dbo].[Memories]  WITH CHECK ADD  CONSTRAINT [FK_Memories_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Memories] CHECK CONSTRAINT [FK_Memories_Groups_GroupId]
GO
ALTER TABLE [dbo].[Memories]  WITH CHECK ADD  CONSTRAINT [FK_Memories_Memories_SharedMemoryId] FOREIGN KEY([SharedMemoryId])
REFERENCES [dbo].[Memories] ([MemoryId])
GO
ALTER TABLE [dbo].[Memories] CHECK CONSTRAINT [FK_Memories_Memories_SharedMemoryId]
GO
ALTER TABLE [dbo].[Memories]  WITH CHECK ADD  CONSTRAINT [FK_Memories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Memories] CHECK CONSTRAINT [FK_Memories_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_SenderId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_Memories_MemoryId] FOREIGN KEY([MemoryId])
REFERENCES [dbo].[Memories] ([MemoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_Memories_MemoryId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_Users_UserId]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_Users_UserId]
GO
ALTER TABLE [dbo].[StoryReactions]  WITH CHECK ADD  CONSTRAINT [FK_StoryReactions_Stories_StoryId] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StoryReactions] CHECK CONSTRAINT [FK_StoryReactions_Stories_StoryId]
GO
ALTER TABLE [dbo].[StoryReactions]  WITH CHECK ADD  CONSTRAINT [FK_StoryReactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StoryReactions] CHECK CONSTRAINT [FK_StoryReactions_Users_UserId]
GO
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_UserGroups_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_UserGroups_Groups_GroupId]
GO
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_UserGroups_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_UserGroups_Users_UserId]
GO
